<!-- SZM VERSION="1.5" -->
<script type="text/javascript">
<!--
var IVW = "http://###SUPPLYIDENTIFIER###.ivwbox.de/cgi-bin/ivw/###TYPE###/###CODE###;###COMMENT###";
document.write("<img src=\"" + IVW + "?r=" + escape(document.referrer) + "&d=" +
	(Math.random() * 100000) + "\" width=\"1\" height=\"1\" alt=\"szmtag\" />");
//-->
</script>
<noscript>
	<img src="http://###SUPPLYIDENTIFIER###.ivwbox.de/cgi-bin/ivw/###TYPE###/###CODE###;###COMMENT###"
		width="1" height="1" alt="szmtag" />
</noscript>
<!-- /SZM -->